# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo
*~
.DS_Store

# Mave
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

# Spring Boot
application.properties
application-dev.properties
application-prod.properties

# Logs
*.log
logs/

# System files
.DS_Store
Thumbs.db

#Hide Username/Senha database
src/main/resources/application-local.properties
